@model NI.Application.HR.HRBase.Models.HeadcountActivity.HeadCountDetailModel

@using (Html.BeginForm("Save", "HeadCount", FormMethod.Post,
                            new { id = "form1" }))
{
    @Html.HiddenFor(model => model.headcount.ID)
    
    <table id="headcount_table" style="width:90%; border-collapse:collapse;">
        <tr>
            <td class="hc-attr-name" style="width:14%; text-align:right;">HC Code:</td>
            <td class="hc-attr-value" style="width:14%; text-align:left;">
                @Html.TextBoxFor(model => model.headcount.Code, new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" })
                @Html.ValidationMessageFor(model => model.headcount.Code)
            </td>
            <td class="hc-attr-name" style="width:14%; text-align:right;">Position:</td>
            <td class="hc-attr-value" style="width:14%; text-align:left;">
                @Html.TextBoxFor(model => model.headcount.Position, new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" })
                @Html.ValidationMessageFor(model => model.headcount.Position)
            </td>
            <td class="hc-attr-name" style="width:14%; text-align:right;">Number:</td>
            <td class="hc-attr-value" style="width:14%; text-align:left;">
                @Html.TextBoxFor(model => model.headcount.Number, new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" })
                @Html.ValidationMessageFor(model => model.headcount.Number)
            </td>
        </tr>
        <tr>
            <td class="hc-attr-name" style="width:14%; text-align:right;">CostCenter:</td>
            <td class="hc-attr-value" style="width:14%; text-align:left;">
                @Html.DropDownListFor(model => model.headcount.CostCenter, ViewData["CostCenter"] as SelectList, new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" })
                @Html.ValidationMessageFor(model => model.headcount.CostCenter)
            </td>
            <td class="hc-attr-name" style="width:14%; text-align:right;">Department:</td>
            <td class="hc-attr-value" style="width:14%; text-align:left;">
                @Html.DropDownListFor(model => model.headcount.Department, ViewData["Department"] as SelectList, new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" })
                @Html.ValidationMessageFor(model => model.headcount.Department)
            </td>
            <td class="hc-attr-name" style="width:14%; text-align:right;">Internal Level:</td>
            <td class="hc-attr-value" style="width:14%; text-align:left;">
                @Html.DropDownListFor(model => model.headcount.InternalLevel, ViewData["InternalLevel"] as SelectList, new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" })
                @Html.ValidationMessageFor(model => model.headcount.InternalLevel)
            </td>
        </tr>
    </table>

    <p style="width:90%; text-align:right;">
        <input type="submit" id="saveBtn" name="saveBtn" value="  Save  " class="btn box_for_create" style="font-size:18px; line-height:1.4;" />
        <input type="button" name="CancelBtn" value=" Cancel "
               onclick="location.href='@Url.Action("ShowDetail", "HeadCount", new { HeadcountCode = Model.headcount.Code })'"
               style="font-size:18px; line-height:1.4;" />
    </p>
}