@{
    ViewBag.Title = "_layout";
}
@using System.Web.Optimization

<!DOCTYPE html>
<html style="margin:0; height:100%; width:100%;">
    <head>
        <title></title>
        @Styles.Render("~/Content/MainLayout.css")
        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/jQuery.form.js")
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        
    </head>
    <body style="margin:0; padding:0; height:100%; width:100%;">
        <div id="header" style="margin:0; height:10%; padding-right:40px;">
            <table border="0" frame=void rules=none style="border-color:white">
                <tr>
                    <td width="10%" style="border-color:white;"><img id="img" src="~/Images/NI.png" alt="National Instruments" style="vertical-align:middle" /></td>
                    <td width="30%" style="border-color:white;"><span id="title" style="vertical-align:middle; font-size:150%; font-weight:bold;">NI Shanghai HR Management System</span></td>
                    <td style="border-color:white;"><span id="user_info" style="vertical-align:middle; font-size:150%; float:right;">Welcome,@ViewBag.User</span></td>
                </tr>
            </table> 
        </div>
        <div id="tableContainer" style="margin:0px; padding:0; height:90%; width:98%;">
            <div id="tableRow">
                <div id="sidebar" >
                    <ul id="navigation">
                        <li>                   
                            @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav" })
                        </li>
                        <li>
                            <a class="nav" href="">Search</a>
                            <ul id="navigationdown" style="font-style:italic;font-weight:normal;">
                                <li>                                    
                                    @Html.ActionLink("HeadCount", "Search", "HeadCount", new {}, new { @class = "subnav", style = "font-weight:normal;" })
                                </li>
                                <li>
                                    @Html.ActionLink("Offer", "Search", "Offer",new{}, new { @class = "subnav", style = "font-weight:normal;" })
                                </li>
                                <li>
                                    @Html.ActionLink("Employee", "Search", "Employee", new {}, new { @class = "subnav", style = "font-weight:normal;" })
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav" href="">Leave</a>
                        </li>
                    </ul>              
                </div>
                <div id="main_content">
                    @RenderBody()
                </div>
            </div>
        </div>  
        
        <div class="mask" style="display:none">
            <table style="width:100%;height:100%;">
                <tr valign=middle align=center>
                    <td><img id="processStatus" src="~/Images/processing.gif" alt="process " style="al" /></td>
                </tr>
            </table>        
        </div>
    </body>
</html>
