@model NI.Application.HR.HRBase.Models.OfferActivity.PersonelDetailModel

<div id="personel_info_section">
    <h3 style="background-color:#87CEFA">Personal Information</h3>
    <div>
        <table id="personel_info_table" style="width:90%; border-collapse:collapse;">
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">English First Name:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.RomanFName, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
                <td class="hc-attr-name" style="width:21%; text-align:right;">English Last Name:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.RomanLName, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
            </tr>
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Chinese First Name:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.FName, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Chinese Last Name:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.LName, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
            </tr>
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Phone:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Phone, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Email:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Email, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
            </tr>
        </table>
    </div>
</div>