@model NI.Application.HR.HRBase.Models.OfferActivity.OfferCreateModel

<div id="position_info_section">
    <h3 style="background-color:#87CEFA">Position Information</h3>
    <div>
        <table id="position_info_table" style="width:90%; border-collapse:collapse;">
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Recruitment Type:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.DropDownListFor(model => model.Offer.RecruitType, new List<SelectListItem> {
                                                                                new SelectListItem{Text="Intern",Value="Intern"},
                                                                                new SelectListItem{Text="Campus",Value="Campus"},
                                                                                new SelectListItem{Text="Social",Value="Social"}
                                                                            },
                                                                            Model.Offer.RecruitType,
                                                                            new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" }
                    )
                </td>

                <td class="hc-attr-name" style="width:21%; text-align:right;">Channel:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.DropDownListFor(model => model.Offer.Channel, new List<SelectListItem> {
                                                                                new SelectListItem{Text="Campus",Value="Campus"},
                                                                                new SelectListItem{Text="51job",Value="51job"},
                                                                                new SelectListItem{Text="LinkedIn",Value="LinkedIn"},
                                                                                new SelectListItem{Text="IRP",Value="IRP"},
                                                                                new SelectListItem{Text="Head hunter",Value="Head hunter"}
                                                                            },
                                                                            Model.Offer.Channel,
                                                                            new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" }
                    )
                </td>
            </tr>
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Position:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.TextBoxFor(model => model.Offer.Postion, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;", @readonly = "readonly" })
                </td>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Location:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Offer.Location, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
            </tr>
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Reporting Line:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.TextBoxFor(model => model.Report.ReportLine, new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" })
                    @Html.ValidationMessageFor(model => model.Report.ReportLine)
                </td>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Reporting Line Email:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Report.ReportLineEmail, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
            </tr>
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Department Mgr:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.TextBoxFor(model => model.Report.DepartmentMgr, new { @class = "box_for_create", style = "font-size:18px; line-height:1.4;" })
                    @Html.ValidationMessageFor(model => model.Report.DepartmentMgr)
                </td>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Department Mgr Email:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Report.DepartmentMgrEmail, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
            </tr>
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">On boarding Date:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.TextBoxFor(model => model.Offer.OnBoardingDate, new { Value = Model.Offer.OnBoardingDate.HasValue ? Model.Offer.OnBoardingDate.Value.ToString("yyyy/MM/dd") : string.Empty, @class = "Date", @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
            </tr>
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Contract Duration:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Offer.ContractDuration, new { htmlAttributes = new { @Value = "3" } })
                </td>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Probation Duration:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Offer.ProbationDuration, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;", @Value = "6" })
                </td>
            </tr>
            <tr>
                <td class="hc-attr-name" style="width:21%; text-align:right;">Salary:</td>
                <td class="hc-attr-value" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Salary.Salary, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
                <td class="attr_for_social" style="width:21%; text-align:right;">Review Salary:</td>
                <td class="attr_for_social" style="width:21%; text-align:left;">
                    @Html.EditorFor(model => model.Salary.ReviewSalary, new { @style = "width: 90%; padding:0; font-size:18px; line-height:1.4;" })
                </td>
            </tr>
            <tr>
                <td align="right">
                    @Html.CheckBoxFor(model => model.Salary.bonus) Bonus
                </td>    
                <td class="bonus_section">
                    @Html.CheckBoxFor(model => model.Salary.SignOn) Sign-on
                    @Html.EditorFor(model => model.Salary.SignOnPrice)
                </td>
                <td class="bonus_section">
                    @Html.CheckBoxFor(model => model.Salary.Relocation) Relocation
                    @Html.EditorFor(model => model.Salary.RelocationPrice)
                </td>
            </tr>
            <tr class="bonus_section">
                <td ></td>
                <td >
                    @Html.CheckBoxFor(model => model.Salary.Other) Other
                    @Html.EditorFor(model => model.Salary.OtherPrice)
                </td>             
            </tr>
        </table>
    </div>
</div>