@{
    ViewBag.Title = "OfferCreate";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@model NI.Application.HR.HRBase.Models.OfferActivity.OfferCreateModel

@using (Html.BeginForm("Create", "Offer", FormMethod.Post, new {id = "PostForm" }))
{
    @Html.Partial("_OfferBaseInfo", Model.Offer ?? new NI.Application.HR.HRBase.Models.OfferActivity.OfferDetailModel(),
                       new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Offer" } });
    
    @Html.Partial("_OfferPersonInfoEditable", Model.Personel ?? new NI.Application.HR.HRBase.Models.OfferActivity.PersonelDetailModel(),
                   new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Personel" }})
    
    @Html.Partial("_OfferPositionInfoEditable",Model)

    <br />
    <p style="width:90%; text-align:center;">
        <input type="button" id="SaveBtn" name="SaveButton" value=" Save " style="font-size:18px; line-height:1.4; margin-right:35px;" />
        @Html.HiddenFor(model => model.SaveButton)
        <input type="button" value="Cancel" onclick="window.location.href = '@Url.Action("Search", "HeadCount")';" style="font-size:18px; line-height:1.4;" />
    </p>
    
    <div id="input-error-summary">
        @Html.ValidationMessageFor(model => model.Personel.Phone, null, new { })
        @Html.ValidationMessageFor(model => model.Personel.Email)
        @Html.ValidationMessageFor(model => model.Report.ReportLineEmail)
        @Html.ValidationMessageFor(model => model.Report.DepartmentMgrEmail)
        @Html.ValidationMessageFor(model => model.Salary.Salary)
        @Html.ValidationMessageFor(model => model.Salary.SignOnPrice)
        @Html.ValidationMessageFor(model => model.Salary.RelocationPrice)
        @Html.ValidationMessageFor(model => model.Salary.OtherPrice)
    </div>

    <div id="dialog-confirm" title="Approve Email Check">        
            <table id="dialog_table" style="border:0;">
                <tr>
                    <td style="vertical-align:top; border:0;"><label for="From">From</label></td>
                    <td style="vertical-align:central; border:0;">
                        @Html.TextBoxFor(model => model.Email.FromEmail)
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; border:0;"><label for="To">To</label></td>
                    <td style="vertical-align:central; border:0;">
                        @Html.TextAreaFor(model => model.Email.ToEmail, 2, 20, null)
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; border:0;"><label for="CC">CC</label></td>
                    <td style="vertical-align:central; border:0;">
                        @Html.TextAreaFor(model => model.Email.CCEmail, 2, 20, null)
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; border:0;"><label for="Subject">Subject </label></td>
                    <td style="vertical-align:central; border:0;">
                        @Html.TextAreaFor(model => model.Email.Subject, 2, 20, null)
                    </td>
                </tr>
            </table>               
    </div> 
}

<script type="text/javascript">
    $('.Date').datepicker();
    $('.Date').datepicker("setDate",new Date());

    $(function () {      
        $('#dialog-confirm').dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 450,
            modal: true,
            buttons: [
                {
                    text: "Send Email",
                    click:$.noop,
                    type: "submit",
                    click: function () {
                        $(this).dialog("close");
                        $("div.mask").css("display", "block");
                        $('#PostForm').submit();
                    }
                },
                {
                    text:"Cancel",
                    click:function(){
                        $(this).dialog("close");
                    }
                }
            ],
            open: function () {
                $("#Email_FromEmail").val("yan.gu@ni.com")+ ";";
                $("#Email_ToEmail").val($("#Report_ReportLineEmail").val() + ";" + $("#Report_DepartmentMgrEmail").val());
                $("#Email_Subject").val("Approval to Offer - " + $("#Personel_FName").val() + $("#Personel_LName").val() + " for " + $("#Offer_Postion").val());
                $(this).parent().appendTo('#PostForm');
            }
        });

        $("#SaveBtn").click(function () {   
            var error=$(".input-validation-error").length;
            if(error>0){
                alert("Please correct your input before Save!");
            }else{
                if(checkBonus()){
                    $("#SaveButton").val("SaveButtonClicked");
                    $('#dialog-confirm').dialog("open");
                }         
            }
            
        });

        function checkBonus(){
            var Sign_Status=$("#Salary_SignOn").is(":checked");
            var Relocation_Status=$("#Salary_Relocation").is(":checked");
            var Other_Status=$("#Salary_Other").is(":checked");
            var Sign_Price=$("#Salary_SignOnPrice").val();
            var Relocation_Price=$("#Salary_RelocationPrice").val();
            var Other_Price=$("#Salary_OtherPrice").val();
            var Salary=$("#Salary_Salary").val();

            if((Sign_Status || Relocation_Status||Other_Status) && (Salary=="")){
                alert("You need to input salary before bonus!");
                return false;
            }

            if( (Sign_Status && Sign_Price=="") || (Relocation_Status && Relocation_Price=="")||(Other_Status && Other_Price=="")){
                alert("You need to click checkbox and enter price both!");
                return false;
            }

            return true;

        }
        $("#Salary_bonus").click(function () {
            var status = $(this).is(":checked");

            if (status == false) {
                $(".bonus_section").hide();
            } else {
                $(".bonus_section").show();
            }
        });

        $(window).load(function () {
            var status=$("#Salary_bonus").is(":checked");

            if (status == false) {
                $(".bonus_section").hide();
            } 
        });
    });
</script>


