@{
    ViewBag.Title = "OfferOnboarding";
}

@model NI.Apps.Hr.HrBase.Models.OfferActivity.OfferCreateModel

@Html.Partial("_OfferBaseInfo", Model.Offer ?? new NI.Apps.Hr.HrBase.Models.OfferActivity.OfferDetailModel(),
                       new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Offer" } })

@Html.Partial("_OfferPersonInfoFixed", Model.Personel ?? new NI.Apps.Hr.HrBase.Models.OfferActivity.PersonelDetailModel(),
                   new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Personel" } })

@Html.Partial("_OfferPositionInfoFixed", Model)

<br />
<p id="pending_Onboarding_section" style="width:90%; text-align:center; ">
    <input type="button" name="ConfirmBtn" value=" Confirm "
           onclick="location.href='@Url.Action("Confirm", "Offer", new { offerID=Model.Offer.ID})'"
           style="font-size:18px; line-height:1.4; margin-right:35px;" />
    <input type="button" name="RejectBtn" value=" Reject "
           onclick="if (confirm('Are you sure?')) { window.location.href = '@Url.Action("Reject", "Offer", new { offerID = Model.Offer.ID })'; }"
           style="font-size:18px; line-height:1.4; margin-right:35px;" />
    <input type="button" value="Revise" onclick="location.href='@Url.Action("Revise", "Offer", new { offerID=Model.Offer.ID})'" style="font-size:18px; line-height:1.4;" />
</p>

<script type="text/javascript">
    $(window).load(function () {
        var status = $("#Salary_bonus").is(":checked");
        if (status == false) {
            $(".bonus_section").hide();
        } 

        $("input.read_only").attr("disabled","disabled");

        var recruitmentType=$("#Offer_RecruitType").html().trim();
        if(recruitmentType=='Campus'){
            $(".attr_for_campus").show();
        }else{
            $(".attr_for_campus").hide();
        }
    });
</script>
