@{
    ViewBag.Title = "OfferPendingApprove";
}

@model NI.Application.HR.HRBase.Models.OfferActivity.OfferCreateModel


    @Html.Partial("_OfferBaseInfo", Model.Offer ?? new NI.Application.HR.HRBase.Models.OfferActivity.OfferDetailModel(),
                       new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Offer" } })

    @Html.Partial("_OfferPersonInfoFixed", Model.Personel ?? new NI.Application.HR.HRBase.Models.OfferActivity.PersonelDetailModel(),
                   new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Personel" } })

    @Html.Partial("_OfferPositionInfoFixed", Model)

<br />
<p id="pending_MgrApprove_section" style="width:90%; text-align:center; " class="valid-offer-section">
    <input type="button" id="MgrApproveBtn" name="MgrApproveBtn" value=" Approve " style="font-size:18px; line-height:1.4; margin-right:35px;" />
    <input type="button" id="RejectBtn" name="RejectBtn" value=" Reject "
           onclick="if (confirm('Are you sure?')) { window.location.href = '@Url.Action("Reject", "Offer", new { offerID = Model.Offer.ID })'; }"
           style="font-size:18px; line-height:1.4; margin-right:35px;" />
    <input type="button" value="Revise" onclick="location.href='@Url.Action("Revise", "Offer", new { offerID=Model.Offer.ID})'" style="font-size:18px; line-height:1.4;" />
</p>

<div id="dialog-confirm" title="Offer Email Check">
    @Html.Partial("_EmailConfirmDialog", Model.Email ?? new NI.Application.HR.HRBase.Models.EmailModel())
</div>

<script type="text/javascript">
    $(function () {
        $('#dialog-confirm').dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 450,
            modal: true,
            buttons: [
                {
                    text: "Send Email",
                    click: $.noop,
                    type: "submit",
                    click: function () {
                        var offerID = $("#Offer_ID").val().trim();
                        $(this).dialog("close");
                        $("div.mask").css("display", "block");

                        var from = $("#FromEmail").val();
                        var to = $("#ToEmail").val();
                        var cc = $("#CCEmail").val();
                        var subject = $("#Subject").val();
                        var data = {
                            OfferID: offerID,
                            FromEmail: from,
                            ToEmail: to,
                            CcEmail: cc,
                            Subject: subject
                        };
                        data = JSON.stringify(data);
                        $.ajax({
                            type: "POST",
                            data: data,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@Url.Action("ApproveByMgr", "Offer")',
                            success: function (response) {
                                var param = response.offer_id;
                                var url = '@Url.Action("GoToNewestPage", "Offer", new { offerID = "__param__" })';
                                window.location.href = url.replace('__param__', encodeURIComponent(param));
                            }
                        });
                    }
                },
                {
                    text: "Cancel",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ],
            open: function () {
                $("#FromEmail").val("yan.gu@ni.com") + ";";
                $("#ToEmail").val($("#Personel_Email").val());
                $("#CCEmail").val($("#report_ReportLineEmail").html().trim() + ";" + $("#report_DepartmentMgrEmail").html().trim());
                $("#Subject").val("Offer Letter from National Instruments");
                $(this).parent().appendTo('#PostForm');
            }
        });



        $("#MgrApproveBtn").click(function () {
            $('#dialog-confirm').dialog("open");
        });

        $(window).load(function () {
            var status = $("#Salary_bonus").is(":checked");
            if (status == false) {
                $(".bonus_section").hide();
            }

            $("input.read_only").attr("disabled", "disabled");

            var recruitmentType = $("#Offer_RecruitType").html().trim();
            if (recruitmentType == 'Campus') {
                $(".attr_for_social").show();
            } else {
                $(".attr_for_social").hide();
            }
        });
    });
</script>
@Scripts.Render("~/Scripts/disableBackButton.js");