@{
    ViewBag.Title = "OfferWaitingFeedback";
}

@model NI.Apps.Hr.HrBase.Models.OfferActivity.OfferCreateModel

@Html.Partial("_OfferBaseInfo", Model.Offer ?? new NI.Apps.Hr.HrBase.Models.OfferActivity.OfferDetailModel(),
                       new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Offer" } })

@Html.Partial("_OfferPersonInfoFixed", Model.Personel ?? new NI.Apps.Hr.HrBase.Models.OfferActivity.PersonelDetailModel(),
                   new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Personel" } })

@Html.Partial("_OfferPositionInfoFixed", Model)

<div id="feedback_update_section" style="overflow-y:scroll;">
    @Html.Partial("_FeedbackSection",Model.Offer)
</div>
<p style="width:90%; text-align:center;" class="valid-offer-section">
    <input type="button" name="AcceptBtn" value=" Accept "
           onclick="location.href='@Url.Action("Accept", "Offer", new { offerID = Model.Offer.ID })'"
           style="font-size:18px; line-height:1.4; margin-right:35px;" />
    <input type="button" name="RejectBtn" value=" Reject "
           onclick="if (confirm('Are you sure?')) { window.location.href = '@Url.Action("Reject", "Offer", new { offerID = Model.Offer.ID })'; }"
           style="font-size:18px; line-height:1.4; margin-right:35px;" />
    <input type="button" value="Revise" onclick="location.href='@Url.Action("Revise", "Offer", new { offerID=Model.Offer.ID})'" style="font-size:18px; line-height:1.4;" />
</p>

<div id="dialog-personal-form-message" title="Upload Success"></div>


<div id="dialog-email-IT" title="Email Check">
    @Html.Partial("_EmailConfirmDialog", Model.Email ?? new NI.Apps.Hr.HrBase.Models.EmailModel())
</div>

<div id="dialog-email-candidate" title="Email Check">
    @Html.Partial("_EmailConfirmDialog", Model.Email ?? new NI.Apps.Hr.HrBase.Models.EmailModel())
</div>

<div id="dialog-email-Mgr" title="Email Check">
    @Html.Partial("_EmailConfirmDialog", Model.Email ?? new NI.Apps.Hr.HrBase.Models.EmailModel())
</div>


<script type="text/javascript">
    $('.Date').attr('readOnly', 'true');
    $('.Date').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy/mm/dd"
    });
    $('.Date').datepicker('setDate', 'today');


    $(function () {
        //send domain request to IT email confirm
        $('#dialog-email-IT').dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 450,
            modal: true,
            buttons: [
                {
                    text: "Send Email",
                    click: $.noop,
                    type: "submit",
                    click: function () {
                        var offerID = $("#Offer_ID").val().trim();
                        $(this).dialog("close");
                        $("div.mask").css("display", "block");

                        var from = $("#FromEmail").val();
                        var to = $("#ToEmail").val();
                        var cc = $("#CCEmail").val();
                        var subject = $("#Subject").val();
                        var data = {
                            OfferID: offerID,
                            FromEmail: from,
                            ToEmail: to,
                            CcEmail: cc,
                            Subject: subject
                        };
                        data = JSON.stringify(data);
                        $.ajax({
                            type: "POST",
                            data: data,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@Url.Action("RequestDomain", "Offer")',
                            success: function (response) {
                                var param = response.offer_id;
                                var url = '@Url.Action("GoToNewestPage", "Offer", new { offerID = "__param__" })';
                                window.location.href = url.replace('__param__', encodeURIComponent(param));
                            }
                        });
                    }
                },
                {
                    text: "Cancel",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ],
            open: function () {
                clearEmailConfirmkDialog();
                var onboarddate = $("#offer_OnBoardingDate").html().trim();
                $("input#FromEmail").val('@(ViewBag.UserEmail)'); //change with user
                $("textarea#ToEmail").val("<IT Penang>");
                $("textarea#CCEmail").val("Huiyan.guo@ni.com, Yan.huang@ni.com");
                $("textarea#Subject").val("new comer on " + onboarddate);
            }
        });



        $("#sendRequestBtn").click(function () {
            $('#dialog-email-IT').dialog("open");
        });

        //welcome email  to candidate confirm
        $('#dialog-email-candidate').dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 450,
            modal: true,
            buttons: [
                {
                    text: "Send Email",
                    click: $.noop,
                    type: "submit",
                    click: function () {
                        var offerID = $("#Offer_ID").val().trim();
                        $(this).dialog("close");
                        $("div.mask").css("display", "block");

                        var from = $("#FromEmail").val();
                        var to = $("#ToEmail").val();
                        var cc = $("#CCEmail").val();
                        var subject = $("#Subject").val();
                        var data = {
                            OfferID: offerID,
                            FromEmail: from,
                            ToEmail: to,
                            CcEmail: cc,
                            Subject: subject
                        };
                        data = JSON.stringify(data);
                        $.ajax({
                            type: "POST",
                            data: data,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@Url.Action("SendWelcomeToCandidate", "Offer")',
                            success: function (response) {
                                //$("div.mask").css("display", "none");
                                var param = response.offer_id;
                                var url = '@Url.Action("GoToNewestPage", "Offer", new { offerID = "__param__" })';
                                window.location.href = url.replace('__param__', encodeURIComponent(param));
                            }
                        });
                    }
                },
    {
        text: "Cancel",
        click: function () {
            $(this).dialog("close");
        }
    }
            ],
            open: function () {
                clearEmailConfirmkDialog();
                var candidateEmail = $("#personel_Email").html().trim();
                var depMgrEmial = $("#report_ReportLineEmail").html().trim();
                var candidateName = $("#personel_RomanLName").html().trim() + $("#personel_RomanFName").html().trim();
                $("input#FromEmail").val('@(ViewBag.UserEmail)'); //change with user
                $("textarea#ToEmail").val(candidateEmail);
                $("textarea#CCEmail").val(depMgrEmial);
                $("textarea#Subject").val("Welcome to join NI ! -" + candidateName);
            }
        });

        $("#emailCandidateBtn").click(function () {
            $('#dialog-email-candidate').dialog("open");
        });

        //welcome email  to line Mgr confirm
        $('#dialog-email-Mgr').dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 450,
            modal: true,
            buttons: [
                {
                    text: "Send Email",
                    click: $.noop,
                    type: "submit",
                    click: function () {
                        var offerID = $("#Offer_ID").val().trim();
                        $(this).dialog("close");
                        $("div.mask").css("display", "block");

                        var from = $("#FromEmail").val();
                        var to = $("#ToEmail").val();
                        var cc = $("#CCEmail").val();
                        var subject = $("#Subject").val();
                        var data = {
                            OfferID: offerID,
                            FromEmail: from,
                            ToEmail: to,
                            CcEmail: cc,
                            Subject: subject
                        };
                        data = JSON.stringify(data);
                        $.ajax({
                            type: "POST",
                            data: data,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@Url.Action("SendWelcomeToLineMgr", "Offer")',
                            success: function (response) {

                                //$("div#feedback_update_section").html(response);
                                var param = response.offer_id;
                                var url = '@Url.Action("GoToNewestPage", "Offer", new { offerID = "__param__" })';
                                window.location.href = url.replace('__param__', encodeURIComponent(param));

                            }
                        });
                    }
                },
                {
                    text: "Cancel",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ],
            open: function () {
                clearEmailConfirmkDialog();
                var lineMgrEmail = $("#report_ReportLineEmail").html().trim();
                var candidateName = $("#personel_RomanLName").html().trim() + $("#personel_RomanFName").html().trim();
                $("input#FromEmail").val('@(ViewBag.UserEmail)'); //change with user
                $("textarea#ToEmail").val(lineMgrEmail);
                $("textarea#CCEmail").val("");
                $("textarea#Subject").val("Onboarding Process to Line Manager for " + candidateName);
            }
        });



        $("#emailMgrBtn").click(function () {
            $('#dialog-email-Mgr').dialog("open");
        });

        //$("#sendRequestBtn").click(function () {
        //    var offerID = $("#Offer_ID").val().trim();
        //    $("div.mask").css("display", "block");
        //    $.post("/Offer/RequestDomain/", { OfferID: offerID }, function (response) {
        //        $("div.mask").css("display", "none");
        //        $("#emailITStatus").attr("style", "visibility:visible");
        //    });
        //});

        $('#dialog-personal-form-message').dialog({
            autoOpen: false,
            resizable: false,
            height: 850,
            width: 1350,
            modal: true,
            buttons: {
                ok: function () {
                    var offerID = $("#Offer_ID").val().trim();

                    var url = '@Url.Action("GoToNewestPage", "Offer", new { offerID = "__param__" })';
                    window.location.href = url.replace('__param__', encodeURIComponent(offerID));
                    //$(this).dialog("close");
                }
            },
        });

        $("#upload_File_Form").ajaxForm({
            success: function (data) {
                $("div.mask").css("display", "none");
                $("#dialog-personal-form-message").html(data);
                $("#dialog-personal-form-message").dialog("open");
                $("#uploadFormStatus").attr("style", "visibility:visible");
            },
            error: function (data) {
                $("div.mask").css("display", "none");
                alert("File format is not supported!");
            }
        });

        $("#uploadBtn").click(function () {
            var file = $("input#fileName").val();
            if (file == "") {
                alert("Please select a file first!");
            } else {
                $("div.mask").css("display", "block");
                $('#upload_File_Form').submit();
            }
        });

        $("#syncBtn").click(function () {
            var domainLogin = $("#address_book_domain").val().trim();
            if (domainLogin == "") {
                alert("Please input Domain Login first!");
            } else {
                var startDate = $("#start_date").val().trim();
                var offerID = $("#Offer_ID").val().trim();

                $("div.mask").css("display", "block");
                var url = '@Url.Action("SyncDomain", "Offer")';
                $.post(url, { OfferID: offerID, DomainLogin: domainLogin, ContractStartDate: startDate }, function (response) {
                    $("div.mask").css("display", "none");
                    $("#syncDomainStatus").attr("style", "visibility:visible");
                });
            }

        });
    });
    function clearEmailConfirmkDialog() {
        $("input#FromEmail").val(); //change with user
        $("textarea#ToEmail").val();
        $("textarea#CCEmail").val();
        $("textarea#Subject").val();
    }

    function showProgress() {
        $("div.mask").css("display", "block");
    }

    $(window).load(function () {
        var status = $("#Salary_bonus").is(":checked");
        if (status == false) {
            $(".bonus_section").hide();
        }

        $("input.read_only").attr("disabled", "disabled");

        var recruitmentType = $("#Offer_RecruitType").html().trim();
        if (recruitmentType == 'Campus') {
            $(".attr_for_campus").show();
        } else {
            $(".attr_for_campus").hide();
        }
    });
</script>

